@{
    Layout = "~/Views/Shared/_main.cshtml";
}
@model IEnumerable<Database.TbCategories>
<table>
    @foreach (var cat in Model)
    {
        <tr>
            <td>@cat.Id</td>
            <td>@cat.Name</td>
    </tr>
    }
</table>
<p>
    <a href="/Home/News">news</a>
</p>
