@model IEnumerable<Database.TbNews>

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_main.cshtml";
}

<h2>News</h2>

<table>
    @foreach (var news in Model)
    {
        <tr>
            <td>@news.Id</td>
            <td>@news.Title</td>
            <td>@news.CatId</td>
        </tr>
    }
</table>
